<!-- Header -->

<header>
	<section class="container-fluid header">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-9 header-left-topsocial">
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google"><i class="fa fa-google"></i></a>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github"></i></a>
			</div>

			<div class="col-lg-5 col-md-5 col-sm-5 hidden-xs header-right-search-widget">
<!-- 				<form class="form-inline">
					<input type="text" class="form-control" placeholder="Enter what you want to search">
					<button type="submit" class="btn">Search</button>
				</form> -->
			</div>

			<div class="hidden-lg hidden-md hidden-sm col-xs-3 header-right-search-icon">
				<!-- <button type=""><i class="fa fa-search"></i></button> -->
			</div>
		</div><!-- end row -->
	</section>
</header><!-- end header -->
