<!-- Scripts -->
<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<!-- <script type="text/javascript" src="{{ "/js/yall.min.js" | prepend: site.baseurl }}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
<script>
  // document.addEventListener("DOMContentLoaded", yall);
  var lazyLoadInstance = new LazyLoad({ elements_selector: ".lazy" });
</script>
