/* Category Page */

@import "skel";

@include skel-breakpoints((
	large: '(max-width: 1200px)',
	mid: '(max-width: 992px)',
	small: '(max-width: 768px)',
	xsmall: '(max-width: 480px)'
));

.return-home {
	font-size: 2rem;
}

.category-container {
	display: flex;
	min-height: 100vh;
	.sidebar {
		width: calc(100% / 6);
		background-color: $theme-color;
		.category_list {
			position: fixed;
			top: 5rem;
			left: 2rem;
			font-size: 2rem;
		}
		.return-home {
			margin-left: 2rem;
			line-height: 6rem;
		}
		a {
			color: #fff;
		}
		@include breakpoint(mid) {
			display: none;
		}
	}
	.category-content {
		padding: 5rem;
		flex: 1;
		p {
			margin: 1rem 0;
			text-indent: 2rem;
		} 
		ul {
			width: 100%;
			list-style-type: disc;
			font-size: $content-font-size;
			li {
				margin: 0.6rem 0;
			}
		}
		@include breakpoint(mid) {
			column-count: 1;
			padding: 5rem 0;
		}
	}
}

.post-tag {
	margin: 3px 10px 3px 0;
	padding: 2px 10px;
	background-color: $highlight-color;
	color: #fff;
	border-radius: 3px;
	font-size: 1.4rem;
}
