<!DOCTYPE html>
<!--Post Page-->
<html>
	{% include head.html %}
	<body>
		<div class="post-container">
			<div class="sidebar">
				<div class="post-intro">
					<h2>{{ page.title }}</h2>
					<!-- <p>{{ page.description }}</p> -->
					<span>{{ page.date | date: '%Y.%m' }}</span>
				</div>
<!-- 				<nav id="lang-sel" >
				    <ul class="lang">
				        {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
				        {% capture link2 %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
				        {% if site.lang == "zh" %}
				        <li class="masthead_menu-item visible-links">
					        <a href="{{ link1 }}" class="enabled">{% t global.chinese%} </a>|<a href="{{ link2 }}"> {% t global.english%}</a>
				        </li>
				        {% elsif site.lang == "en" %}
				        <li class="masthead_menu-item lang">
					        <a href="{{ link1 }}">{% t global.chinese%} </a>|<a href="{{ link2 }}" class="enabled"> {% t global.english%}</a>
				        </li>
				        {% endif %}
				    </ul>
				 </nav> -->
			</div>
			<div class="post-content">
				{{ content }}
			</div>
		</div>
		{% include scripts.html %}
	</body>
</html>